# =============== #
# Unity generated #
# =============== #
HellRain/Temp/
HellRain/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
HellRain/ExportedObj/
HellRain/obj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
HellRain/ehthumbs.db
HellRain/Thumbs.db

# ============= #
# Android Build #
# ============= #
